/* Styling for the navigation bar container */
.navBarContainer {
    border: 2px solid black;
    box-sizing: border-box;
    position: sticky;
    top: 77.5px;
    z-index: 500;
    background-color: #001021;

}

/* Styling for the unordered list inside the navigation bar container */
.navBarContainer ul {
    list-style: none;
    margin: 10px 250px;
    font-size: 1.6rem;
    font-weight: 900;
    display: flex;
    justify-content: space-between;

}

/* Styling for the navigation links inside list items */
.navBarContainer ul li a{
    padding: 12px 50px;
    color: white;
    text-decoration: none;
}

/* Styling for navigation links on hover */
.navBarContainer ul li a:hover{
    background-color: #04AA6D;
}
