<<<<<<< HEAD
.footerContainer{
    width: 100%;
    font-size: 1.3em;
    font-weight: bolder;
    position: relative;
    display: flex;
    justify-content: center;
}

.footerContainer p{
    text-align: center;
    position: sticky;
    bottom: 0;
=======
.footerContainer{
    width: 100%;
    font-size: 1.3em;
    font-weight: bolder;
    position: relative;
    display: flex;
    justify-content: center;
}

.footerContainer p{
    text-align: center;
    position: sticky;
    bottom: 0;
>>>>>>> 485024d879c55c014adcd284ff0984111b99229d
}