.footerContainer{
    width: 100%;
    font-size: 1.3em;
    font-weight: bolder;
    position: relative;
    display: flex;
    justify-content: center;
}

.footerContainer p{
    text-align: center;
    position: sticky;
    bottom: 0;
}